body, html{
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;

}

.gridoptions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}
.slidecontainer{
    display: flex;
    width: 150px;
}
.sliderdisplay{
    align-self: center;

}
.resetButton{
    width: 30%;
}


.gridcontainer{
    display:grid;
    width: 90vw;
    height: 90vw;   
}


@media (min-width: 740px){
    .gridcontainer{
        width: 70vh;
        height: 70vh;

    }
}
.unsketched{
    background-color: red;
}
.sketched{
    background-color: black!important;
    
}
