body, html{
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;

}

.button{
    width: 20%;
    justify-self: center;
    margin-bottom: 2%;
}

.gridcontainer{
    display:grid;
    grid-template-rows: repeat(100, auto);
    grid-template-columns: repeat(100, auto);
    width: 90vw;
    height: 90vw;


    
}


@media (min-width: 740px){
    .gridcontainer{
        width: 70vh;
        height: 70vh;

    }
}
.unsketched{
    background-color: red;
}
.sketched{
    background-color: black!important;
    
}
