body, html{
    display: grid;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
    font-family: 'Courier New', Courier, monospace;

}

.gridoptions{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 2%;
}
.CheckboxContainer{
    display: inline-flex;
    margin-left: 5px;
    margin-bottom: 10px;
    align-items: center;
    font-size: 16px;
}
.Checkbox{
    margin-left: 5px;
}
.randomColor.Checkbox{
    margin-left: 4px;
    margin-bottom: 4px;
    padding-right: 3px;

}

.slidecontainer{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.sliderdisplay{
    text-align: left;
    margin-top: 2%;
    font-size: 14px;
}

.button{
    width: auto;
    height: auto;
    border: 2px dotted black;
    background-color: rgb(1, 124, 206);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 700;
    padding: 8px;
}
.button.reset{

}
.button:hover{
    background-color: rgb(1, 124, 206, .5);
    color: black;
    border: 2px dotted white;
}

.button.download{
    width:100%;
}

.gridcontainer{
    justify-self: center;
    display:grid;
    background-color: white;
    width: 90vw;
    height: 90vw;  
    border: 80px groove red;
    border-radius: 10px; 
    -webkit-user-select: none; /* Chrome/Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.instructions{
    width: 600px;
    height: 90px;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
    overflow-y: scroll;
}

::-webkit-scrollbar {

    -webkit-appearance: none;
    width: .2em;
    

}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    border-style: dotted;
    border-color: rgb(68, 67, 67,.4);

    background-color:  rgb(68, 67, 67,.4);

    box-shadow: 0 0 1px rgba(255,255,255,.5);

} 


/********************************* drop down***************************** */

.dropbtn {
    text-decoration: underline;
    color: black;
    font-size: 16px;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;

  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    border: 2px dotted black;
    position: absolute;
    background-color:rgb(243, 240, 240, .95);
    margin-left: -50px;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    -webkit-user-select: none; /* Chrome/Safari */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
  }

    .dropdown:hover .dropdown-content {
      display: block;
      cursor: default;
    }

    .dropdown:active .dropdown-content {
        display: block;
        cursor: default;
      }
    .dropdown:hover a{
        color: red;
        cursor: default;

    }
    .dropdown:active a{
        color: red;
        cursor: default;

    }






/* **************************************MEDIA QUERIES****************************************8 */


@media (min-width: 740px){
    .gridcontainer{
        width: 50vh;
        height: 50vh;

    }
    .instructions{
        font-size: 16px;
        margin-top: 25px;
        width: 70vh;
        text-justify: inter-word;
        margin-left: 10px;
        
    }
}

@media (max-width: 739px){
    .instructions{
        font-size: 16px;
        margin-top: 20px;
        text-justify: inter-word;
        margin-left: 12px;
        width: 85vw;

    }
    .gridcontainer{
        width: 55vw;
        height: 55vw;
        border: 12vw groove red;

    }
    .gridoptions{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2%;
    }
    .sliderdisplay{
        text-align: left;
        width: 30vw;
        margin-top: 2%;
        font-size: 14px;
    }
}

@media (max-width:470px){
    .instructions{
        height: 20vh;
        overflow-y: scroll;
    }
}
/* horizontal on iphone */
@media (max-height: 400px){
    .gridoptions{
        display: none;

    }
    .gridcontainer{
        border-width: 10vh;
        
    }
    .instructions{
        display: none;
    }
}